/* Style the links inside the navigation bar */
.topnav{
  display: flex;
  height: 60px;
  background-color: white ;
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.3);
}
.topnav a {
    float: left;
    color: black;
    font-weight: 500;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .links {
    background-color: #222;
    color: white;
    height: 60px;
  }
  .logoutIcon{
    margin: 15px;
    margin-right: 30px;
    align-self: flex-end;
    margin-left: auto;
    
  }
  .logoutIcon:hover{
    cursor: pointer;
    transform: scale(1.1);
  }